h1 {
  color: brown;
}

p {
  color: chartreuse;
}
ul{
    padding:0;
}

li{
    list-style: none;
}

.linkActive{
  text-decoration: none;
  color:white;
  background-color: blue;
}

.link{
  text-decoration: none;
  color:black;
}

